

.overskrift1{
	font-size: 100px;
	text-align: center;
	color: yellow;
	background-color: black;
	padding: 10% 2% 15% 2%;
}

.navbar{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 10%;  
	display: inline-block;
	background-color: #2d2d2d;
	padding: 0% 2% 1% 0%; 
	text-decoration: none;
}

.sprakBilde{
	position: absolute;
	height: 30px;
	right: -5%;    
	top: 9%;
}

.bildeKnapp{
	width: 33%;
}

.knapp{
	position: absolute;
	right: 5%;
	top: 9%;
}

#btnStyle{
	height: 65px;
	width: 100px;
	color: yellow;
	font-weight: bold;
	font-size: 20px;
	background-color: #2d2d2d;
	border-style: solid;
	border: 10px 10px 10px 10px;
	border-radius: 10px;
	border-color: yellow;
}


.tekstboks1{
	background-color: black;
	color: yellow;
	padding: 20% 5% 20% 5%;
	display: block;
	margin: 0;
	border-bottom:12px;
	border-bottom-style:solid; 
	border-bottom-color:  yellow;
}

.bakgrunn1{
	background-color: black;

}

.tekstboks2{
	background-color: black;
	color: yellow;
	padding: 20% 5% 20% 5%;
	display: block;
	margin:0;
	border-bottom:12px;
	border-bottom-style:solid; 
	border-bottom-color:  yellow;
}

.bakgrunn2{
	background-color: white;

}

.tekstboks3{
	background-color: black;
	color: yellow;
	padding: 20% 5% 20% 5%;
	display: block;
	margin: 0;
	border-bottom:12px;
	border-bottom-style:solid; 
	border-bottom-color:  yellow;
}

.footer{
	height: 50%;
	width: 100%;
	color: yellow;
	background-color: black;
	padding: 5% 5% 5% 5%;
	margin: 0% 0% 0% 0%;
	
}

body{
	background-color: black;
	margin: 0;	
}

li{
	display: inline-block;
	text-decoration: none;
}
p{
	font-style: ;
	font-size: ;
}


/*For mobil-enheter */
@media only screen and(max-width: 1242px){

.overskrift1{
	font-size: 100px;
	text-align: center;
	color: white;
}

.sprakBilde{
	position: absolute;
	right: 5%;
	top: 10%;
}

.bakgrunn1{
	display: block;
	background-color: white;
	height: fit-content;

}

.bakgrunn2{
	display: block;	
	height: 100px;
	background-color: white;
}

.bakgrunn3{
	top:300px;
	display: block;
	
}

.tekstboks1{
	height: 100px;
	margin: 0;
}

.tekstboks2{

}
	body{
		background-color: black;
	}
}

/*For mobil-enheter */
@media only screen and(max-width: 1242px){

.overskrift1{
	font-size: 100px;
	text-align: center;
	color: white;
}

.sprakBilde{
	position: absolute;
	right: 5%;
	top: 10%;
}

.bakgrunn1{
	display: block;
	background-color: white;
	height: fit-content;

}

.bakgrunn2{
	display: block;	
	height: 100px;
	background-color: white;
}

.bakgrunn3{
	top:300px;
	display: block;
	
}

.tekstboks1{
	height: 100px;
	margin: 0;
}

.tekstboks2{

}
	body{
		background-color: black;
	}
}

