table{


	border-collapse: collapse;

}

td{
	width: 14%;	
		padding: 0% 0% 0% 2%;
}

.nabbar{
	background-color: #2d2d2d;
	position: fixed;
	width: 100%;
	height: 10%;
	top: 0%;

}

td h1{
	text-decoration: none;
	color: white;
}

.overskrift1{
	font-size: 100px;
	text-align: center;
	color: black;
	padding: 10% 2% 15% 2%;
}

.navbar{
	position: fixed;
	width: 100%;
	height: 10%;  
	display: inline-block;
	background-color: #2d2d2d;
	padding: 0% 2% 1% 0%; 
	text-decoration: none;
}

.sprakBilde{
	position: absolute;
	height: 30px;
	right: -5%;    
	top: 9%;
}

.bildeKnapp{
	width: 60%;
}

.knapp{
	position: absolute;
	right: 5%;
	top: 9%;
}

.styleKnapp{
	padding-bottom: 2%;
	width: 60%;
	top: 9%;
	right: 5%;
}

#btnStyle{
	height: 65px;
	width: 100px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	background-color: #2d2d2d;
	border-style: solid;
	border-radius: 10px;
	border-color: white;
}


.tekstboks1{
	background-color: black;
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
	margin: 0;
	font-size: 15px;
}

.bakgrunn1{
	background-color: white;

}

.tekstboks2{
	background-color: #2d2d2d;
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
	margin:0;
}

.bakgrunn2{
	background-color: white;

}

.tekstboks3{
	background-color: #2a3449;
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
	margin: 0;
}

.resizable{
	font-size: 15px;
}

.footer{
	height: 50%;
	width: 100%;
	color: white;
	background-color: black;
	padding: 5% 0% 5% 0%;
	margin: 0% 0% 0% 0%;
	
}

body{
	background-color: white;
	margin: 0;	
}

li{
	display: inline-block;
	text-decoration: none;
}

ol{
	display: block;
	text-align: center;
}

a{
	text-decoration: none;
}

p{
	font-size: 15px;
}

html{
	font-family: helvetica, sans-serif;
	max-width: 100%;
}

span{
  font-size:25px;
  float:right;
  display:block;
  font-weight:bold;
}


/*For mobil-enheter */
@media only screen and(max-width: 1242px){

.navbar{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 12%;  
	display: inline-block;
	background-color: #2d2d2d;
	padding: 0% 0% 0% 0%; 
	text-decoration: none;
}

.sprakBilde{

	position: fixed;
	right: 0%;    
	top: 9%

}

.knapp{
	position: fixed;
	right: 5%;
	top: 9%;
}

#btnStyle{
	height: 65px;
	width: 100px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	background-color: #2d2d2d;
	border-style: solid;
	border-radius: 10px;
	border-color: white;
}


.tekstboks1{
	background-color: black;
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
	margin: 0;
}

.bakgrunn1{
	background-color: white;

}

.tekstboks2{
	background-color: #2d2d2d;
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
	margin:0;
}

.bakgrunn2{
	background-color: white;

}

.tekstboks3{
	background-color: #2a3449;
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
	margin: 0;
}

.footer{
	height: 50%;
	width: 100%;
	color: white;
	background-color: black;
	padding: 5% 5% 5% 5%;
	margin: 0% 0% 0% 0%;
}

ul{

	visibility: collapse;

}

	body{
		background-color: black;
	}
}
