

.overskrift1{
	font-size: 100px;
	text-align: center;
	color: white;
	padding: 10% 2% 15% 2%;
}

.navbar{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 10%;  
	display: inline-block;
	background-color: #2d2d2d;
	padding: 0% 2% 5%% 0%; 
	text-decoration: none;
}

.sprakBilde{
	position: absolute;
	right: 5%;    
	top: 10%;
}


.tekstboks1{
	background-color: #2d2d2d;
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
}

.bakgrunn1{
	background-color: white;

}

.tekstboks2{
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
}

.bakgrunn2{
	background-color: white;

}

.tekstboks3{
	background-color: #2d2d2d;
	color: white;
	padding: 20% 5% 20% 5%;
	display: block;
}

body{
	background-color: #2a3449;	
}

li{
	display: inline-block;
	text-decoration: none;
}


/*For mobil-enheter */
@media only screen and(max-width: 1242px){

.overskrift1{
	font-size: 100px;
	text-align: center;
	color: white;
}

.sprakBilde{
	position: absolute;
	right: 5%;
	top: 10%;
}

.bakgrunn1{
	display: block;
	background-color: white;
	height: fit-content;

}

.bakgrunn2{
	display: block;	
	height: 100px;
	background-color: white;
}

.bakgrunn3{
	top:300px;
	display: block;
	
}

.tekstboks1{
	height: 100px;
}

.tekstboks2{

}
	body{
		background-color: black;
	}
}
